.table-wrapper {
  width: 50%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  max-width: 900px;
  min-width: 700px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  vertical-align: top;
  border: 1px solid #dddddd;
  font-size: 14px;
  word-wrap: break-word;
}

.ver {
  text-align: center;
  font-weight: bold;
  background-color: #f9f9f9;
}

.mid {
  vertical-align: middle;
}
col.narrow-col {
  width: 65px;
}

col.wide-col {
  width: auto;
}

.edition-header {
  background-color: #dcecfd;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: #004a99;
}
