
.table-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 50%;
  max-width: 1000px; 
  min-width: 600px; 
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dddddd;
  font-size: 14px;
  word-wrap: break-word; /* Перенос длинных слов */
}

.ver {
  font-weight: bold;
  text-align: center;
  background-color: #f9f9f9;
}

.mid {
  vertical-align: middle;
}

col.narrow-col {
  width: 60px; 
}

/* col.wide-col {
  width: auto; 
} */

.edition-header {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #004a99;
  background-color: #dcecfd;
}